{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        {% for hood in all_hoods %}
        <div class="col-md-5">
            <div class="card mb-4 mt-4" style="min-height:300px;">
                <img class="card-img-top" src="{{ hood.hood_logo.url }}" alt="{{ hood.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ hood.name }}  [{{ hood.location }}]<span class="ml-4">{{ hood.members.count }} member(s)</span></h5>
                  <p class="card-text"></p>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}