{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container" style="margin-top: 7%;">
    {% if results %}
    <p>You searched for {{results.count}} business{{results.count|pluralize }}</p>
    <div class="row">
        <div class="col-md-4 mb-4">
            {% for biz in results %}
            <div class="card mb-4" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title">{{ biz.name }}</h4>
                <p class="card-text">Owner: <span class="text-muted">{{ biz.user.user.username|title }}</span></p>
                <p class="card-text">Email: {{ biz.email }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <p>No businesses found</p>
    </div>
    {% endif %}
</div>
{% endblock %}